@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Proza+Libre&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #292524;
    font-family: 'Proza Libre', sans-serif;
    color: #e7e5e4;
}
