@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Cormorant', serif;
    background-color: #292524;
    color: #e7e5e4;
}
